* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f6f7ff;
}

body {
  font-family: Patronweb, sans-serif;
  background-color: #f6f7ff !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
}

.navbar.scrolled {
  background-color: #fcfcff;
  position: sticky;
  border-bottom: rgb(235, 235, 235) 0.5px solid;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

nav .list ul li a {
  color: #02016f;
  font-size: 16px;
  font-weight: 400;
}

nav .list ul li a:hover {
  color: #5c6fff;
}

svg {
  background: transparent;
}

.navbar button {
  position: relative;
  background-color: #5c6fff;
  color: white;
  width: 8rem;
  text-align: center;
  padding: 0.6rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  z-index: 0;
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.navbar button::before,
section .header button::before {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  background-color: #5c6fff;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  z-index: -6;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
}

.navbar button:hover,
section .header button:hover {
  transform: translate(0.1rem, -0.1rem);
  color: white;
  background-color: #02016f;
  z-index: 1000;
}

.navbar button:hover::before,
.navbar button:hover::after,
section .header button:hover::before,
section .header button:hover::after {
  opacity: 1;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 80px 0;
}

section .header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 2rem;
}

section .header h1 {
  z-index: 1;
  color: #02016f;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Patronweb, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2em;
  position: relative;
  text-align: justify;
}

section .header .button {
  margin-top: 32px;
}

section .header button {
  width: fit-content;
  position: relative;
  background-color: #5c6fff;
  color: white;
  width: auto;
  text-align: center;
  padding: 0.6rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  z-index: 0;
  margin-bottom: 8px;
  margin-right: 24px;
  transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out;
  padding: 16px 24px;
  font-family: Patronweb, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 56px;
  line-height: 1.2em;
}

section .header p {
  color: #02016f;
  font-size: 20px;
  font-weight: 400;
  padding: 0 0 8px;
  line-height: 1.4em;
  width: 100%;
}

section .header .rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 0 8px;
  width: 100%;
  margin-top: 24px;
}

section .header .rating p {
  color: #02016f;
  font-size: 12px;
  font-weight: 400;
  padding: 0 0 8px;
  line-height: 1.4em;
  width: 60%;
  opacity: 0.4;
  line-height: 1.5em;
}

section .header .rating p a {
  display: inline;
  text-decoration: none;
}

section .header .rating a {
  text-decoration: none;
  color: #02016f;
  font-size: 12px;
  font-weight: 400;
  padding: 0 0 8px;
  line-height: 1.4em;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.6rem;
  padding-bottom: 8px;
}

section .header .rating a .rating-number {
  font-weight: 600;
  font-size: 16px;
}

section .header .rating .star-rating {
  display: inline-flex;
  gap: 0.2rem;
  font-size: 2rem;
}

section .header .rating .star-rating .star {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  background-color: transparent;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

section .header .rating .star-rating .star.full {
  background: #ffe252;
}

section .header .rating .star-rating .star.half {
  background: linear-gradient(to right, #ffe252 60%, #f6f7ff 40%);
}

section .clients {
  margin-top: 80px;
  display: block;
  text-align: center;
  width: 100%;
}

section .clients p {
  color: #02016f;
  margin-top: 8px;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.33em;
  display: block;
  position: relative;
}

section .clients .clients-logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 93%;
}

section .clients .clients-logo img {
  object-fit: fill;
  height: auto;
  display: inline-block;
  max-width: 100%;
}

/* FOOTER */
footer {
  background-color: #010151;
  padding: 64px 0;
}

footer .container {
  max-width: 78rem;
  margin: 0 auto;
  position: static;
}

footer .container a {
  margin-bottom: 40px;
  display: inline-block;
  background: transparent;
}

footer .footer-top {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

footer .footer-top .footer-top-column {
  background: transparent;
  display: flex;
  flex: 0 25%;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  padding: 24px 40px 24px 0;
}

footer .footer-top .footer-top-column .footer-title {
  background: transparent;
  color: #5c6fff;
  margin: 24px 0 8px;
  padding-top: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.44em;
}

footer .footer-top .footer-top-column .footer-link {
  color: white;
  margin: 4px 0;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  display: block;
  background: transparent;
}

footer .footer-top .footer-top-column .footer-link:hover {
  color: #a0a0be;
}

footer .footer-top .footer-top-column .footer-subtitle {
  color: #ffffff80;
  text-transform: uppercase;
  margin: 8px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.44em;
  background: transparent;
}
/* FOOTER */
