@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-svg {
  animation: fadeIn 2s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f6f7ff;
}

body {
  font-family: Patronweb, sans-serif;
  background-color: #f6f7ff !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
}

.navbar.scrolled {
  background-color: #fcfcff;
  position: sticky;
  border-bottom: rgb(235, 235, 235) 0.5px solid;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

nav .list ul li a {
  color: #02016f;
  font-size: 16px;
  font-weight: 400;
}

nav .list ul li a:hover {
  color: #5c6fff;
}

svg {
  background: transparent;
}

.navbar button {
  position: relative;
  background-color: #5c6fff;
  color: white;
  width: 8rem;
  text-align: center;
  padding: 0.6rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  z-index: 0;
  transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.navbar button::before,
section .header button::before {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  background-color: #5c6fff;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  z-index: -6;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
}

.navbar button:hover,
section .header button:hover {
  transform: translate(0.1rem, -0.1rem);
  color: white;
  background-color: #02016f;
  z-index: 1000;
}

.navbar button:hover::before,
.navbar button:hover::after,
section .header button:hover::before,
section .header button:hover::after {
  opacity: 1;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 80px 0;
}

section .header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 2rem;
}

section .header h1 {
  z-index: 1;
  color: #02016f;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Patronweb, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2em;
  position: relative;
  text-align: justify;
}

section .header .button {
  margin-top: 32px;
}

section .header button {
  width: fit-content;
  position: relative;
  background-color: #5c6fff;
  color: white;
  width: auto;
  text-align: center;
  padding: 0.6rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  z-index: 0;
  margin-bottom: 8px;
  margin-right: 24px;
  transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out;
  padding: 16px 24px;
  font-family: Patronweb, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 56px;
  line-height: 1.2em;
}

section .header p {
  color: #02016f;
  font-size: 20px;
  font-weight: 400;
  padding: 0 0 8px;
  line-height: 1.4em;
  width: 100%;
}

section .header .rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 0 8px;
  width: 100%;
  margin-top: 24px;
}

section .header .rating p {
  color: #02016f;
  font-size: 12px;
  font-weight: 400;
  padding: 0 0 8px;
  line-height: 1.4em;
  width: 60%;
  opacity: 0.4;
  line-height: 1.5em;
}

section .header .rating p a {
  display: inline;
  text-decoration: none;
}

section .header .rating a {
  text-decoration: none;
  color: #02016f;
  font-size: 12px;
  font-weight: 400;
  padding: 0 0 8px;
  line-height: 1.4em;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.6rem;
  padding-bottom: 8px;
}

section .header .rating a .rating-number {
  font-weight: 600;
  font-size: 16px;
}

section .header .rating .star-rating {
  display: inline-flex;
  gap: 0.2rem;
  font-size: 2rem;
}

section .header .rating .star-rating .star {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  background-color: transparent;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

section .header .rating .star-rating .star.full {
  background: #ffe252;
}

section .header .rating .star-rating .star.half {
  background: linear-gradient(to right, #ffe252 60%, #f6f7ff 40%);
}

section .clients {
  margin-top: 80px;
  display: block;
  text-align: center;
  width: 100%;
}

section .clients p {
  color: #02016f;
  margin-top: 8px;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.33em;
  display: block;
  position: relative;
}

section .clients .clients-logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 93%;
}

section .clients .clients-logo img {
  object-fit: fill;
  height: auto;
  display: inline-block;
  max-width: 100%;
}

/* MAIN */
/* HOMEPAGE */
main .section-homepage {
  background: transparent;
  padding: 96px 1.5rem;
  position: relative;
}

main .section-homepage .container {
  max-width: 78rem;
  margin: 0 auto;
  padding: 0 24px;
  position: static;
}

main .section-homepage .container .centered-content {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  display: block;
}

main .section-homepage .container .centered-content h2 {
  margin-top: 0 0 16px 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2em;
  position: relative;
  color: #02016f;
  display: grid;
}

main .section-homepage .layout {
  max-width: 78rem;
  margin: 0 auto;
  padding: 0 24px;
  position: static;
}

main .section-homepage .layout .layout-grid {
  grid-column-gap: 32px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

main .section-homepage .layout .layout-grid #illustration {
  color: #02016f;
  font-family: Patronweb, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  width: 480px;
  box-sizing: border-box;
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  display: inline-block;
  object-fit: contain;
  outline-offset: 0px;
  border-radius: 12px;
  outline: 3px #02016f;
  box-shadow: 0 0 20px #0e08271a;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

main .section-homepage .layout .layout-grid .reverse {
  text-align: end;
}

main .section-homepage .layout .text-wrapper {
  color: #02016f;
}

main
  .section-homepage
  .layout
  .layout-grid
  .text-wrapper
  .homepage-product-name {
  color: #2a2a79;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  box-sizing: border-box;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

main
  .section-homepage
  .layout
  .layout-grid
  .text-wrapper
  .homepage-product-name
  .lottie-picto-produit
  img {
  width: 40px;
}

main
  .section-homepage
  .layout
  .layout-grid
  .text-wrapper
  .homepage-product-name
  .suite-home-card-product {
  -webkit-text-size-adjust: 100%;
  font-family: Patronweb, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #fff0;
  border-radius: 8px;
  align-self: center;
  margin-bottom: 0;
  padding: 0;
  font-weight: 600;
  color: #2a2a79;
}

main .section-homepage .layout .layout-grid .text-wrapper svg {
  width: 100%;
  height: 100%;
  transform: translate(0px, 0px, 0px);
  content-visibility: visible;
}

main .section-homepage .layout .layout-grid .text-wrapper h2 {
  margin: 0 0 16px 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2em;
  position: relative;
}

main .section-homepage .layout .layout-grid .text-wrapper p {
  margin-top: 0;
  margin-bottom: 8px;
  align-self: flex-start;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.44em;
}

main .section-homepage .layout .layout-grid .text-wrapper .check-list-wrapper {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  box-sizing: border-box;
  margin-top: 8px;
}

main
  .section-homepage
  .layout
  .layout-grid
  .text-wrapper
  .check-list-wrapper
  .check-list {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

main
  .section-homepage
  .layout
  .layout-grid
  .text-wrapper
  .check-list-wrapper
  ul {
  list-style-type: none;
  padding-left: 0 !important;
}

main
  .section-homepage
  .layout
  .layout-grid
  .text-wrapper
  .check-list-wrapper
  .check-list
  .check-list-item {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  align-items: flex-start;
  margin: 10px 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

main
  .section-homepage
  .layout
  .layout-grid
  .text-wrapper
  .check-list-wrapper
  .check-list
  img {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  vertical-align: middle;
  max-width: 100%;
  object-fit: fill;
  height: auto;
  display: inline-block;
  margin-right: 8px;
}

main
  .section-homepage
  .layout
  .layout-grid
  .text-wrapper
  .check-list-wrapper
  .check-list
  .check-list-item
  .check-list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

main .section-homepage .layout .layout-grid .text-wrapper .button {
  cursor: pointer;
  z-index: 1;
  background-color: #5c6fff;
  color: white;
  border-radius: 8px;
  height: 56px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 16px 24px;
  font-family: Patronweb, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2em;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  overflow: visible;
  grid-area: span 1 / span 1 / span 1 / span 1;
  text-transform: capitalize;
}

main .section-homepage .layout .layout-grid .text-wrapper .button::before {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  background-color: #5c6fff;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  z-index: -6;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
}

main .section-homepage .layout .layout-grid .text-wrapper .button:hover {
  transform: translate(0.1rem, -0.1rem);
  color: white;
  background-color: #02016f;
  z-index: 1000;
}

main .section-homepage .layout .layout-grid .text-wrapper .button:hover::before,
main .section-homepage .layout .layout-grid .text-wrapper .button:hover::after {
  opacity: 1;
}

main .section {
  padding: 96px 1.5em;
  position: relative;
}

main .section .container {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  box-sizing: border-box;
  max-width: 78rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  position: static;
  color: #02016f;
}

main .section .container .centered-content {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: transparent;
}

main .section .container .centered-content .heading-wrapper {
  position: static;
}

main .section .container .centered-content .heading-wrapper h2 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2em;
  position: relative;
  z-index: 0;
}

main .section .container .centered-content .heading-wrapper h2 .stroked-curved {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2em;
  box-sizing: border-box;
  -webkit-text-fill-color: inherit;
  background-image: url("https://cdn.prod.website-files.com/6058a411307dccf59c654f37/643e49c1cb8ecc2b5b1ec0cf_60c0d0a6aa151af1cc87961b_underline-1.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 110px;
  background-attachment: scroll;
  background-clip: padding-box;
  width: auto;
  height: 1.5em;
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  z-index: 3;
}

main .section .container .centered-content .text-large {
  z-index: 1;
  color: var(--colors--navy);
  padding: 0 0 8px;
  font-family: Patronweb, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
  position: relative;
}

main .section .container .marketplace-section-wrapper {
  background-color: #f6f7ff;
  border-radius: 16px;
  align-items: center;
  margin-top: 96px;
  padding: 64px;
  display: flex;
  position: relative;
}

main
  .section
  .container
  .marketplace-section-wrapper
  .marketplace-section-left {
  text-align: center;
  flex: 0 50%;
  margin-right: 32px;
}

main
  .section
  .container
  .marketplace-section-wrapper
  .marketplace-section-right {
  flex: 0 50%;
  margin-left: 32px;
}

main
  .section
  .container
  .marketplace-section-wrapper
  .marketplace-section-right
  h2 {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2em;
  position: relative;
}

main
  .section
  .container
  .marketplace-section-wrapper
  .marketplace-section-right
  .text-large {
  z-index: 1;
  color: #02016f;
  padding: 0 0 8px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4em;
  position: relative;
  text-decoration: none;
}

main
  .section
  .container
  .marketplace-section-wrapper
  .marketplace-section-right
  .button {
  cursor: pointer;
  z-index: 1;
  background-color: #5c6fff;
  color: white;
  border-radius: 8px;
  height: 56px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 16px 24px;
  font-family: Patronweb, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2em;
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  overflow: visible;
  grid-area: span 1 / span 1 / span 1 / span 1;
  text-transform: capitalize;
}

main
  .section
  .container
  .marketplace-section-wrapper
  .marketplace-section-right
  .button::before {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  background-color: #5c6fff;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  z-index: -6;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
}

main
  .section
  .container
  .marketplace-section-wrapper
  .marketplace-section-right
  .button:hover {
  transform: translate(0.1rem, -0.1rem);
  color: white;
  background-color: #02016f;
  z-index: 1000;
}

main
  .section
  .container
  .marketplace-section-wrapper
  .marketplace-section-right
  .button:hover::before,
main
  .section
  .container
  .marketplace-section-wrapper
  .marketplace-section-right
  .button:hover::after {
  opacity: 1;
}

main .section .container .bloc-badges-avis {
  background-color: #ecedf8;
  border-radius: 12px;
  padding: 24px;
  margin-top: 80px;
}

main .section .container .bloc-badges-avis .recommanded-text {
  text-align: center;
  font-weight: 600;
  line-height: 1.44em;
  background: transparent;
  color: #02016f;
  font-size: 18px;
}

main .section .container .bloc-badges-avis .div-badges {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

main .section .container .bloc-badges-avis a {
  font-weight: 500;
  text-decoration: none;
  max-width: 100%;
  display: inline-block;
}

main .section .container .bloc-badges-avis a img {
  vertical-align: middle;
  max-width: 100%;
  object-fit: fill;
  display: inline-block;
  height: 60px;
  margin: 24px;
  padding: 0;
}

/* HOMEPAGE */
/* MAIN */

/* FOOTER */
footer {
  background-color: #010151;
  padding: 64px 0;
}

footer .container {
  max-width: 78rem;
  margin: 0 auto;
  position: static;
}

footer .container a {
  margin-bottom: 40px;
  display: inline-block;
  background: transparent;
}

footer .footer-top {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

footer .footer-top .footer-top-column {
  background: transparent;
  display: flex;
  flex: 0 25%;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  padding: 24px 40px 24px 0;
}

footer .footer-top .footer-top-column .footer-title {
  background: transparent;
  color: #5c6fff;
  margin: 24px 0 8px;
  padding-top: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.44em;
}

footer .footer-top .footer-top-column .footer-link {
  color: white;
  margin: 4px 0;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  display: block;
  background: transparent;
}

footer .footer-top .footer-top-column .footer-link:hover {
  color: #a0a0be;
}

footer .footer-top .footer-top-column .footer-subtitle {
  color: #ffffff80;
  text-transform: uppercase;
  margin: 8px 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.44em;
  background: transparent;
}
/* FOOTER */
